$accent-color: #ff751a;
$accent-color-lite: #ff9933;
$accent-text-color: #ffffff;

.menu{
	position: sticky;
	top: 12%;
	left:9%;
	height: 89%;
	width: 50%;
	overflow-y: auto;
	overflow-x: auto;
	background-color: #ffffff;
	float:left;
	box-shadow: 0px 4px 18px 4px #c2d6d6;

	.top-sticky{
                position: sticky;
		top: 0px;
		left: -10px;
                background: #ffffff;
                padding: 10px;
        }
	.view-button img{
		float: right;
		height: 25px;
		width: 25px;
		cursor: pointer;
		transition: transform  .5s;
	}
	.view-button img:active {
		transform: rotate(180deg);

	}

	.list-menu-container{
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		ul{
			width: 100%;
			list-style: none;
			margin:0px;
		        margin-bottom: 20px;
		        padding: 10px;
			li{
				width: 100%;
				ul{
					padding:0px;
					width: 100%;
	                                margin:0px;
	                                list-style:none;
	                                border-bottom: 1px solid #c2d6d6;
					li{
						width: 100%;
						padding: 10px;
	                                        .float-left{
	                                                float: left;
	                                        }
	                                        .float-right{
	                                                float: right;
							border-top-left-radius: 1.5em;
							border-bottom-left-radius: 1.5em;
							border-radius: 1.5em;
							background-color: $accent-color;
							color: $accent-text-color;
							padding: 5px;
	                                        }
					}
				}
				ul:hover{
                                	box-shadow: 0px 4px 18px -4px #c2d6d6;
                        	}
			}
		}	
	}
}

.menu-container{
	padding-left: 65px;
	width: 100%;
	height: 100%;
}
.card-menu{
	height:100%;
	width: 100%;
	margin: 10px;
	padding: 0px;
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0;
	width: 80%;

}
.card-menu-header{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 1px solid;
	height: 30px;	
	overflow: hidden;
	.float-right{
		padding: 5px;
		height: 100%;	
		overflow: hidden;
		font-size: 1.2em;
		padding: 15px;
	}
	.card-top-left{
		position: absolute;
		top: -5px;
		left: -5px;
		padding: 5px;
		height: 30px;	
		overflow: hidden;
		font-size: 1.2em;
		float: left;
		background: $accent-color;
		border-radius: 10em;
		color: $accent-text-color;
	}
}

.card-menu-body{
	padding: 5px;
}
.card-menu-footer{
	width: 100%;
	.button{
		width: 100%;
		background: $accent-color-lite;
		border: none;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		color: $accent-text-color;
	}
	text-align: center;

}
.menu-item-li{
	position: relative;
	width: 30%;
	height: 10%;
	border-style: solid;
	float: left;
}

