$accent-color: #ff751a;
$accent-color-lite: #ff9933;
$accent-text-color: #ffffff;



.menu{
	position: relative;
	overflow-y: auto;
	overflow-x: auto;
	width: 68%;
	height: 80%;
	float: left;
	padding: 10px; 
}
.menu-container{
	width: 100%;
	height: 100%;
}
.card-menu{
	height:100%;
	width: 100%;
	margin: 10px;
	padding: 0px;
	border-radius: 15px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0;
	width: 80%;

}
.card-menu-header{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: 1px solid;
	height: 30px;	
	overflow: hidden;
	.float-right{
		padding: 5px;
		height: 100%;	
		overflow: hidden;
		font-size: 1.2em;
		padding: 15px;
	}
	.card-top-left{
		position: absolute;
		top: -5px;
		left: -5px;
		padding: 5px;
		height: 30px;	
		overflow: hidden;
		font-size: 1.2em;
		float: left;
		background: $accent-color;
		border-radius: 10em;
		color: $accent-text-color;
	}
}

.card-menu-body{
	padding: 5px;
}
.card-menu-footer{
	width: 100%;
	.button{
		width: 100%;
		background: $accent-color-lite;
		border: none;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		color: $accent-text-color;
	}
	text-align: center;

}
.menu-item-li{
	position: relative;
	width: 30%;
	height: 10%;
	border-style: solid;
	float: left;
}
